<% @title  = "Terms and Conditions | Jobs in Nepal" %>

<section class="inner-header-title gray-bg">
  <div class="container">
    <h2 class="cl-default">Terms and Conditions</h2>
  </div>
</section>
<div class="clearfix"></div>
<br>

<div class="container terms-and-policy">
  <div class="row">
    <div class='col-md-12 offset-sm-2'>
      <h4>Understanding your rights and responsibilities as a Jobs in Nepal user</h4>
      <h4>Privacy Reminder</h4>
      <p>
        Protect your personal information by never providing credit card, bank account numbers or any other personal information open to misuse, to prospective employers.
      </p>

      <h4>Terms of Use</h4>
      <p>
        This page states the "Terms of Use" under which you (“You”) may use jobsinnepal.com, an on-line service to post and search employment opportunities and user resumes ("jobsinnepal.com" or "Web Site").
      </p>

      <p>
        These Terms of Use include the Jobs in Nepal Privacy Statement which is incorporated into these Terms of Use by reference. By using jobsinnepal.com, You are indicating your acceptance to be bound by these Terms of Use, including the Jobs in Nepal Privacy Statement.
      </p>

      <p>
        Please read this page carefully. If ‘You’ do not accept the Terms of Use stated herein, do not use the Web Site and its services. By using jobsinnepal.com, You are indicating your acceptance to be bound by the provisions of these Terms of Use. Jobs in Nepal ("Jobs in Nepal" or the "Company") may revise these Terms of Use at any time by updating this posting. You should visit this page periodically to review the Terms of Use, because they are binding on’ You’. The terms "You" and "User" as used herein refer to all individuals and/or entities accessing this web site for any reason.
      </p>

      <p> 
        Jobs in Nepal may revise these Terms at any time by posting an updated version to this Web page. You should visit this page periodically to review the most current Terms because they are binding on ‘You’.
      </p>

      <h4>Users who violate these Terms may have their access and use of the Jobs in Nepal Site suspended or terminated, at Jobs in Nepal discretion.</h4>
      <h4>1. Eligibility</h4>
      <p>
        You must be 18 years of age or older to visit or use jobsinnepal.com in any manner. By visiting jobsinnepal.com or accepting these Terms of Use, You represent and warrant to the Company that You are 18 years of age or older, and that You have the right, authority and capacity to use the Web Site and agree to and abide by these Terms of Use. You also represent and warrant to the Company that You will use jobsinnepal.com in a manner consistent with any and all applicable laws and regulations.
      </p>

      <h4>2. Use of Jobs in Nepal Content</h4>
      <p>
        Jobs in Nepal authorizes You, subject to these Terms, to view and a single copy of the content available on or from jobsinnepal.com and to access and use the Jobs in Nepal Site and the Jobs in Nepal Content (as defined below) and to download and print a single copy of the content available on or from the Jobs in Nepal Site solely for Your personal, non-commercial use. The contents of jobsinnepal.com, and of all other websites under the Company's control, whether partial or otherwise (jobsinnepal.com and such other websites are sometimes collectively referred to as the “Jobs in Nepal Sites”), such as designs, text, graphics, images, video, information, logos, button icons, software, audio files and other Jobs in Nepal content (collectively, "Jobs in Nepal Content"), are protected under both Nepal and foreign copyright, trademark and other laws. All Jobs in Nepal Content is the property of Jobs in Nepal or its licensors. The compilation (meaning the collection, arrangement and assembly) of all content on the Jobs in Nepal Sites is the exclusive property of Jobs in Nepal and is protected by Nepali and international copyright, trademark, and other laws. Unauthorized use of the Jobs in Nepal Content may violate these laws and/or applicable communications regulations and statutes, and is strictly prohibited. You must preserve all copyright, trademarks, service mark and other proprietary notices contained in the original Jobs in Nepal Content on any authorized copy You make of the Jobs in Nepal Content. You may not sell or modify the Jobs in Nepal Content or reproduce, display, publicly perform, distribute, or otherwise use the Jobs in Nepal Content in any way for any public or commercial purpose, in connection with products or services that are not those of Jobs in Nepal, in any other manner that is likely to cause confusion among consumers or that otherwise infringes Jobs in Nepal's intellectual property rights.
      </p>

      <p>
        Any code that Jobs in Nepal creates to generate or display any Jobs in Nepal Content or the pages making up any Jobs in Nepal Site is also protected by Jobs in Nepal's copyright and You may not copy or adapt such code.
      </p>

      <p>
        You may not use any of the Jobs in Nepal Content on any other Web site or in a networked computer environment (including, without limitation, by uploading or republishing Jobs in Nepal Content on any Internet, Intranet or Extranet site or incorporating the Jobs in Nepal Content in any other database or compilation for any purpose). You shall not copy or adapt the HTML code that the Company creates to generate any Jobs in Nepal Content or the pages making up any Jobs in Nepal Site which is also protected by the Company's copyright. Unless explicitly stated herein, nothing in these Terms shall be construed as conferring any license to intellectual property rights, whether by estoppel, implication or otherwise. This license is revocable at any time without notice and with or without cause.
      </p>

      <h4>3. Jobs in Nepal Site Restrictions</h4>
      <p>
        Users shall not use Jobs in Nepal Site in order to host, display, upload, modify, publish, transmit, update, distribute, share, store or destroy material, including without limitation Jobs in Nepal Content,
      </p>

      <ol>
        <li>in violation of any applicable law or regulation,</li>
        <li>in a manner that will infringe the copyright, trademark, trade secret or other intellectual property or proprietary rights of others or violate the privacy, publicity or other personal rights of others,</li>
        <li>that belongs to another person and to which the user does not have any right to,</li>
        <li>that is grossly harmful, harassing, blasphemous, defamatory, obscene, pornographic, pedophilic, libelous, invasive of another’s privacy, threatening, abusive or hateful or racially, ethnically objectionable, disparaging, relating encouraging money laundering or gambling or otherwise unlawful in any manner whatsoever,</li>
        <li>harm minors in any way,</li>
        <li>deceives or misleads the addressee about the origin of such message or communicates any information which is grossly offensive or menacing in nature,</li>
        <li>impersonate another person or entity,</li>
        <li>contains software viruses or any other computer code, files or programs designed to interrupt, destroy or limit the functionality of Jobs in Nepal’s computer systems or site or Jobs in Nepal’s users, customer’s computer systems or site,</li>
        <li>Threatens the unity, integrity, defense, security or sovereignty of Nepal, friendly relations with foreign states or of public order or causes incitement to the commission of any cognizable offence or prevents investigation of any offence or insulting any other nation.</li>
      </ol>

      <p>
        Users are also prohibited from violating or attempting to violate the security of any Jobs in Nepal Site, including, without limitation the following activities:
      </p>

      <ol>
        <li>accessing data not intended for such user or logging into a server or account which the user is not authorized to access;</li>
        <li>attempting to probe, scan or test the vulnerability of a system or network or to breach security or authentication measures without proper authorization;</li>
        <li>attempting to interfere with service to any user, host or network, including, without limitation, via means of submitting a virus to any Jobs in Nepal Site, overloading, "flooding", "spamming", "mail bombing" or "crashing"; or</li>
        <li>Forging any TCP/IP packet header or any part of the header information in any e-mail or newsgroup posting. Violations of system or network security may result in civil or criminal liability. The Company will investigate occurrences which may involve such violations and may involve, and cooperate with, law enforcement authorities in prosecuting users who are involved in such violations.</li>
      </ol>

      <h4>4. Registration Information</h4>
      <p>
        When You register with Jobs in Nepal Site, You will be asked to provide the Company with certain information including, without limitation, a valid email address (your "Information"). In addition to the Terms of Use and any privacy policy applicable to Jobs in Nepal Web Site, You understand and agree that the Company may disclose to third parties, on an anonymous basis, certain aggregate information contained in your registration application. The Company will not disclose to any third party your name, address, e-mail address or telephone number without your prior consent, except to the extent necessary or appropriate to comply with applicable laws or in legal proceedings where such information is relevant.
      </p>

      <p>
        The Company reserves the right to offer third party services and products to You based on the preferences that You identify in your registration and at any time thereafter; such offers may be made by the Company or by third parties. Please see the Company's Privacy Statement for further details regarding your Information.
      </p>

      <p>
        Without limiting any of the other disclaimers of warranty set forth in these Terms of Use, Jobs in Nepal does not provide or make any representation as to the quality or nature of any of the third party products or services purchased through the jobsinnepal.com or any other Jobs in Nepal Site, or any other representation, warranty or guaranty. Any such undertaking, representation, warranty or guaranty would be furnished solely by the provider of the applicable class, or learning material, product or service, under the terms agreed to by the provider.
      </p>

      <h4>5. Use of the Jobs in Nepal Services</h4>

      <p>
        The job posting, resume database (“Jobs in Nepal Resume Database”) and other features of the Jobs in Nepal Sites may be used only by individuals seeking employment and/or career information and by employers seeking employees. In addition, the Jobs in Nepal Communities may be used by individuals for permitted professional and personal networking purposes. Your use of the Jobs in Nepal Services is also subject to any other contracts You may have with Jobs in Nepal. In the case of any conflict between these Terms and any contract you have with Jobs in Nepal, the terms of your contract will prevail. The term “post” as used herein shall mean information that You submit, publish or display on a Jobs in Nepal Site.
      </p>

      <h4>6. Specific Prohibited uses</h4>

      <p>
        The job posting and resume database features of jobsinnepal.com may be used only for lawful purposes by individuals seeking employment and career information and employers seeking employees.
      </p>

      <p>
        The Company specifically prohibits any other use of jobsinnepal.com, and all Users agree not to do any of the following:
      </p>

      <ol>
        <li>Transmit, post, distribute, store or destroy material, including without limitation Jobs in Nepal Content, in violation of any applicable law or regulation, including but not limited to laws or regulations governing the collection, processing, or transfer of personal information, or in breach of Jobs in Nepal’s privacy policy;</li>
        <li>Post any resume or apply for any job on behalf of another party;</li>
        <li>Defer any contact from an employer to any agent, agency, or other third party;</li>
        <li>Set more than one copy of the same resume to public at any one time;</li>
        <li>Solicit passwords or personally identifiable information from other Users;</li>
        <li>Post any jobs on any Jobs in Nepal Site for any competitor of Jobs in Nepal or posting jobs or other content that contains links to any site competitive with Jobs in Nepal;</li>
        <li>Post jobs or content on any Jobs in Nepal Site that contain any HTML Tags, "hidden" keywords, repetitive keywords or any keywords that are irrelevant to the job or are otherwise misleading contained in a job posting are prohibited;</li>
        <li>Use any Jobs in Nepal Site Resume Database for any purpose other than as an employer seeking employees, including but not limited to using the information in the Resume Database to sell or promote any products or services;</li>
        <li>Post or submit to any Jobs in Nepal Site any incomplete, false or inaccurate biographical information or information which is not your own;</li>
        <li>Post on any Jobs in Nepal Site any franchise, pyramid scheme, "club membership", distributorship or sales representative agency arrangement or other business opportunity which requires an upfront or periodic payment, pays commissions only (except for postings that make clear that the available job pays commission only and clearly describes the product or service that the job seeker would be selling, in which case such postings are permissible), requires recruitment of other members, sub-distributors or sub-agents;</li>
        <li>Send unsolicited mail or e-mail, making unsolicited phone calls or send unsolicited faxes regarding promotions and/or advertising of products or services to a user of any Jobs in Nepal Site;</li>
        <li>Post jobs or content on any Jobs in Nepal Site that contain multiple job requirments in one description/posting or refreshing the same job multiple times;</li>
        <li>Post jobs or content on any Jobs in Nepal Site seeking money, periodic payment in any form.</li>
        <li>Post jobs or content which are not exactly offering jobs but offer services such as immigration /visa processing etc</li>
        <li>Delete or revise any material posted by any other person or entity;</li>
        <li>Take any action that imposes an unreasonable or disproportionately large load on any Jobs in Nepal Site's infrastructure;</li>
        <li>Use any data mining, robots or similar data gathering or extraction methods. Notwithstanding anything to the contrary contained herein, use or attempt to use any engine, software, tool, agent or other device or mechanism (including without limitation browsers, spiders, robots, avatars or intelligent agents) to navigate or search any Jobs in Nepal Site other than the search engine and search agents available from the Company on such Jobs in Nepal Site.</li>
        <li>Attempt to decipher, decompile, disassemble or reverse engineer any of the software comprising or in any way making up a part of any Jobs in Nepal Site;</li>
        <li>Aggregate, copy or duplicate in any manner any of the Jobs in Nepal Content or information available from any Jobs in Nepal Site including expired job postings, other than as permitted by these Terms; or</li>
        <li>Frame or link to any of Jobs in Nepal Content or information available from any Jobs in Nepal Site.</li>
        <li>Use the Jobs in Nepal Services for any unlawful purpose or any illegal activity, or post or submit any content, resume, or job posting that is defamatory, libelous, implicitly or explicitly offensive, vulgar, obscene, threatening, abusive, hateful, racist, discriminatory, of a menacing character or likely to cause annoyance, inconvenience, embarrassment, anxiety or could cause harassment to any person or include any links to pornographic, indecent or sexually explicit material of any kind, as determined by Jobs in Nepal’s discretion.</li>
      </ol>

      <p>
        The Company also specifically prohibits any use / insertion of any of the User’s URL, web link, e mail address and website while posting any job on jobsinnepal.com and all Users agree not to use / insert any of the User’s URL, web link, e mail address and website while posting any job on jobsinnepal.com.
      </p>

      <p>
        On nonconformance by users of any of the aforesaid terms as envisaged in section 3 and 6 above, Jobs in Nepal may in its sole discretion, restrict or terminate the offending User's ability to access the Jobs in Nepal Site(s) and determine whether to take any other actions or to remove or request the removal of the User Content. Jobs in Nepal has no liability or responsibility to Users for performance or nonperformance of such activities. Additionally, Jobs in Nepal has the right to initiate appropriate proceedings against the offending user as per law.
      </p>

      <h4>SHARING OF JOBSINNEPAL.COM ACCOUNT ACCESS WITH DIFFERENT ENTITY/INDIVIDUALS/THIRD PARTIES NOT ALLOWED</h4>

      <ol>
        <li>You are not authorized to share your password or other account access information with any other party, temporarily or permanently, and breach of this obligation may tantamount to disabling your Jobs in Nepal account and Jobs in Nepal Services.</li>
        <li>Jobs in Nepal site Terms of Use prohibits sharing of login /passwords with different entity/individual. In the event of any breach of security or unauthorized use of your login ID / Account you must notify Jobs in Nepal immediately. Jobs in Nepal will not be liable for any loss caused by any unauthorized use of your login ID / Account. You may be liable for the losses to Jobs in Nepal if any due to such unauthorized use.</li>
      </ol>

      <h4>7. User Content and Submissions</h4>
      <p>
        You are solely responsible for your Jobs in Nepal Account information, content, messages or other information ("User Content") that You submit, publish or display (hereinafter, "post") on any Jobs in Nepal Site or transmit to other Users. By posting User Content to any Jobs in Nepal Site, You automatically grant, and You represent and warrant that You have the right to grant, to Jobs in Nepal an irrevocable, perpetual, non-exclusive, fully paid, worldwide license to use, copy, perform, display, and distribute such User Content and to prepare derivative works of, or incorporate into other works, such User Content, and to grant and authorize sublicenses thereof.
      </p>

      <p>
        By posting User Content to any public or non-public area of any Jobs in Nepal Site, including message boards, forums, contests and chat rooms, You grant the Company and its parent company and affiliates the loyalty-free, perpetual, irrevocable, sublicense able (through multiple tiers), non-exclusive right (including any moral rights) and license to use, reproduce, modify, adapt, publish, translate, create derivative works from, distribute, communicate to the public, perform and display the User Content (in whole or in part) worldwide and/or to incorporate it in other works in any form, media, or technology now known or later developed, for the full term of any rights that may exist in such content. You also warrant that the holder of any rights, including moral rights in such content, has completely and effectively waived all such rights and validly and irrevocably granted to You the right to grant the license stated above. You also permit any User to access, display, view, store and reproduce such User Content for personal use. Subject to the foregoing, the owner of such User Content placed any Jobs in Nepal Site retains any and all rights that may exist in such User Content.
      </p>

      <p>
        You agree that any email send by an employer to a jobseeker for any prospective job opportunity through Jobs in Nepal website may be stored at the Jobs in Nepal account of the said jobseeker for at least a period of 7 days, to enable the said jobseeker to access the email, as send by the employer, to take a conscious decision about the job offer in the said email.
      </p>

      <p>
        The Company acts as a passive conduit for the online distribution and publication of User Content and has no obligation to screen communications or information in advance and is not responsible for screening or monitoring User Content posted by Users. However, the Company may review and delete any User Content that, in the sole judgment of Jobs in Nepal, violates these Terms of Use, violates applicable law, rule or regulation, is offensive or illegal or violates the rights of, harms or threatens the safety of Users of any Jobs in Nepal Site. The Company reserves the right to expel Users and prevent their further access to the Jobs in Nepal Sites for violating the Terms of Use or applicable law, rule or regulation and the right to remove User Content which is in violation of the Terms of Use, abusive, illegal, or disruptive. The Company reserves the right to archive the user content folders which were not being accessed for a period of 6 months or more by the relevant users after its last access. In such event users will be able to access the archive folders with minor limitations including but not limited to non-availability of the options of move to another folder, renew jobs associated with the said folders. The Company may take any action with respect to User Content that it deems necessary or appropriate in its sole discretion if it believes it may create liability for the Company or may cause the Company to lose (in whole or in part) the services of its ISPs or other suppliers.
      </p>

      <p>
        The following is a partial list of User Content that is prohibited on the Jobs in Nepal Sites. The list below is for illustration only and is not a complete list of all prohibited User Content:
      </p>

      <ol>
        <li>is implicitly or explicitly offensive, such as User Content that engages in, endorses or promotes racism, bigotry, hatred or physical harm of any kind against any group or individual;</li>
        <li>harasses, incites harassment or advocates harassment of another any group or individual;</li>
        <li>involves the transmission of "junk mail", "chain letters," or unsolicited mass mailing or "spamming";</li>
        <li>promotes or endorses false or misleading information or illegal activities or conduct that is abusive, threatening, obscene, defamatory or libelous;</li>
        <li>promotes or endorses an illegal or unauthorized copy of another person's copyrighted work, such as providing or making available pirated computer programs or links to them, providing or making available information to circumvent manufacture-installed copy-protect devices, or providing or making available pirated music or other media or links to pirated music or other media files;</li>
        <li>contains restricted or password only access pages, or hidden pages or images;</li>
        <li>displays or links to pornographic, indecent or sexually explicit material of any kind;</li>
        <li>provides or links to material that exploits people under the age of 18 in a sexual, violent or other manner, or solicits personal information from anyone under 18; or</li>
        <li>provides instructional information about illegal activities or other activities prohibited by these Terms, including without limitation, making or buying illegal weapons, violating someone's privacy, or provides or creates computer viruses or pirating any media; and solicits passwords or personal identifying information from other Users;</li>
      </ol>

      <p>
        Jobs in Nepal reserves the right in its sole discretion to investigate and take legal action against anyone who engages in any illegal or prohibited conduct or otherwise violates these Terms of Use, including without limitation, removing the User Content from the Jobs in Nepal Sites and/or terminating the offending User's ability to access the Jobs in Nepal Sites and/or use Jobs in Nepal services. The Company may take any other action with respect to User Content or User actions that it deems necessary or appropriate in its sole discretion if it believes it may create liability for the Company or may cause the Company to lose (in whole or in part) the services of its ISPs or other suppliers.
      </p>

      <p>
        The Company does not represent or guarantee the truthfulness, accuracy, or reliability of User Content or any other communications posted by Users or endorse any opinions expressed by Users. You acknowledge that any reliance on material posted by other Users will be at your own risk.
      </p>

      <p>
        The Company has no obligation to screen User Content in advance and is not responsible for screening or monitoring User Content posted by Users. If notified by a User of communications which allegedly do not conform to these Terms of Use, the Company may in its sole discretion investigate the allegation and determine whether to take any other actions whether to remove or request the removal of the User Content. The Company has no liability or responsibility to Users for performance or of such activities.
      </p>

      <p>
        We appreciate hearing from our Users and welcome your comments regarding our services and the Jobs in Nepal Sites. Please be advised, however, that our policy does not permit us to accept or consider creative ideas, suggestions, inventions or materials other than those which we have specifically requested. While we do value your feedback on our services, please be specific in your comments regarding our services and do not submit creative ideas, inventions, suggestions, or materials. If, despite our request, You send us creative suggestions, ideas, drawings, concepts, inventions, or other information (collectively the "Submission"), the Submission shall be the property of the Company. None of the Submission shall be subject to any obligation of confidentiality on our part and we shall not be liable for any use or disclosure of any Submission. The Company shall own exclusively all now known or later discovered rights to the Submission and shall be entitled to unrestricted use of the Submission for any purpose whatsoever, commercial or otherwise, without compensation to You or any other person who submitted the Submission.
      </p>

      <h4>8. Registration and Password</h4>
      <p>
        You are responsible for maintaining the confidentiality of your account access information and passwords. You shall be responsible for all uses of your Web Site registrations and passwords, whether or not authorized by You. You are not authorized to share your password or other account access information with any other party, temporarily or permanently, and breach of this obligation may tantamount to disabling the Jobs in Nepal account and Jobs in Nepal Services. You agree to immediately notify the Company of any unauthorized use of your Account, and passwords.
      </p>

      <h4>9. Additional Terms Applicable to Employers</h4>
      <p>
        You are responsible for maintaining the confidentiality of Your employer account, Profile and passwords, as applicable. You may not share Your password or other account access information with any other party, temporarily or permanently, and You shall be responsible for all uses of Your Jobs in Nepal Site registrations and passwords, whether or not authorized by You. You agree to immediately notify Jobs in Nepal of any unauthorized use of Your employer account, Profile, or passwords.
      </p>

      <p>
        Employers are solely responsible for their postings on Jobs in Nepal Sites. Jobs in Nepal is not to be considered to be an employer with respect to Your use of any Jobs in Nepal Site and Jobs in Nepal shall not be responsible for any employment decisions, for whatever reason, made by any entity posting jobs on any Jobs in Nepal Site.
      </p>

      <p>
        You understand and acknowledge that if You cancel Your employer account or Your employer account is terminated, all Your account information from Jobs in Nepal, including saved resumes, network contacts, and email mailing lists, will be marked as deleted in and may be deleted from Jobs in Nepal's databases. Information may continue to be available for some period of time because of delays in propagating such deletion through Jobs in Nepal’s web servers.
      </p>

      <p>
        In order to protect our Jobs in Nepal Community Users from commercial advertising or solicitation, Jobs in Nepal reserves the right to restrict the number of e-mails which an employer may send to Users to a number which Jobs in Nepal deems appropriate in its sole discretion.
      </p>

      <p>
        Candidate profiles derived from User Content may also be made available through the Sites. Jobs in Nepal does not make any representations regarding the accuracy or validity of such derived works or their appropriateness for evaluation by employers. Derived profiles may vary significantly from User Content.
      </p>

      <h4>Job postings</h4>
      <h4>A Job posting may not contain:</h4>

      <ol>
        <li>post jobs in a manner that does not comply with applicable local, national and international laws, including but not limited to laws relating to labor and employment, equal employment opportunity and employment eligibility requirements, data privacy, data access and use, and intellectual property;</li> 
        <li>post jobs that require citizenship of any particular country or lawful permanent residence in a country as a condition of employment, unless otherwise required in order to comply with law, regulations, executive order, or federal, state or local government contract;</li>
        <li>post jobs that include any screening requirement or criterion in connection with a job posting where such requirement or criterion is not an actual and legal requirement of the posted job;</li>
        <li>post jobs or other advertisements for competitors of Jobs in Nepal or post jobs or other content that contains links to any site competitive with Jobs in Nepal;</li>
        <li>sell, promote or advertise products or services;</li>
        <li>post any franchise, pyramid scheme, "club membership", distributorship, multi-level marketing opportunity, or sales representative agency arrangement;</li>
        <li>post any business opportunity that requires an upfront or periodic payment or requires recruitment of other members, sub-distributors or sub-agents;</li>
        <li>post any business opportunity that pays commission only unless the posting clearly states that the available job pays commission only and clearly describes the product or service that the job seeker would be selling;</li>
        <li>advertise sexual services or seek employees for jobs of a sexual nature;</li>
        <li>request the use of human body parts or the donation of human parts, including, without limitation, reproductive services such as egg donation and surrogacy;</li>
        <li>endorse a particular political party, political agenda, political position or issue;</li>
        <li>promote a particular religion;</li>
        <li>post jobs located in countries subject to economic sanctions in compliance with the laws of respective State jurisdiction; and except where allowed by applicable law, post jobs which require the applicant to provide information relating to his/her</li>
        <ol>
          <li>racial or ethnic origin</li>
          <li>political beliefs</li>
          <li>philosophical or religious beliefs</li>
          <li>membership of a trade union</li>
          <li>physical or mental health</li>
          <li>sexual life</li>
          <li>the commission of criminal offences or proceedings or</li>
          <li>Age.</li>
        </ol>
      </ol>
    </div>
  </div>
</div>
