<div class="col-lg-9 col-md-8">
  <div class="dashboard-body">
    <div class="dashboard-caption">
      <div class="dashboard-caption-header">
        <h4><i class="fa fa-user"></i>Edit Profile</h4>
      </div>
      <div class="dashboard-caption-wrap">
        <%= render 'form' %>
      </div>
    </div>
  </div>
</div>
