<% if @error_messages %>
  <div class='alert alert-danger text-left'>
    <% @error_messages.each do |error_message| %>
      <ul>
        <li><%= error_message %></li>
      </ul>
    <% end %>
  </div>
<% end %>
