<div class="col-lg-9 col-md-8">
  <div class="dashboard-body">
    <div class="dashboard-caption">
      <div class="dashboard-caption-header">
        <h4><i class="ti-settings"></i>Dashboard</h4>
      </div>
      <div class="dashboard-caption-wrap">
        <% if current_user.job_seeker? %>
          <%= render "job_seeker_dashboard" %>
        <% elsif current_user.employer? %>
          <%= render "employer_dashboard" %>
        <% elsif current_user.admin? %>
          <%= render "admin_dashboard" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
