/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *= require_tree .
 *= require_self
 *= require select2
 */

/* This is to take out extra space from logo surrounded by <a> tag. */
nav.navbar .navbar-brand {
  display: none;
}

nav.navbar.bootsnav .navbar-brand {
  display: none !Important;
}

.select2-results__options {
  max-height: 500px !Important;
}

.checkbox {
  width: 30px !Important;
}

.resume {
  margin: 20px;
}

.download-btn {
  margin-left: 20px;
}

.file-field {
  margin-top: 30px;
}

.side-dashboard {
  min-height: 110vh !Important;
}

.btn-wrapper {
  display: flex;
}

.margin-left {
  margin-left: 10px;
}

.rejected-can {
    position: relative;
    height: 26px;
    display:inline-block;
    color: #fff;
    font-weight: 500;
    font-size: 14px;
    background-color: #F44336;
    text-align: center;
    font-weight: 500;
    border-radius: 4px;
    padding: 0 8px 0 0;
    margin: 0;
    padding-left: 34px;
    line-height: 27px;
    text-transform:capitalize;
}

.rejected-can:before {
    content:"\e646";
    font-family:'themify';
    font-size: 14px;
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    border-radius:4px 0px 0px 4px;
    line-height: 26px;
    height: 26px;
    width: 26px;
    display: inline-block;
    background-color: #F44336;
}

.ur-email {
  text-transform: lowercase !Important;
}

.float-right {
  float: right;
  font-size: 15px;
}

.margin-top {
  margin-top: 20px;
}

.trix-content {
  margin-left: 15px;
}
