/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *= require_tree .
 *= require_self
 *= require select2
 */

/* This is to take out extra space from logo surrounded by <a> tag. */
nav.navbar .navbar-brand {
  display: none;
}

nav.navbar.bootsnav .navbar-brand {
  display: none !important;
}

.select2-results__options {
  max-height: 500px !important;
}

.checkbox {
  width: 30px !important;
}

.resume {
  margin: 20px;
}

.download-btn {
  margin-left: 20px;
}

.file-field {
  margin-top: 30px;
}

.btn-wrapper {
  display: flex;
}

.margin-left {
  margin-left: 10px;
}

.rejected-can {
    position: relative;
    height: 26px;
    display:inline-block;
    color: #fff;
    font-weight: 500;
    font-size: 14px;
    background-color: #F44336;
    text-align: center;
    font-weight: 500;
    border-radius: 4px;
    padding: 0 8px 0 0;
    margin: 0;
    padding-left: 34px;
    line-height: 27px;
    text-transform:capitalize;
}

.rejected-can:before {
    content:"\e646";
    font-family:'themify';
    font-size: 14px;
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    border-radius:4px 0px 0px 4px;
    line-height: 26px;
    height: 26px;
    width: 26px;
    display: inline-block;
    background-color: #F44336;
}

.ur-email {
  text-transform: lowercase !important;
}

.float-right {
  float: right;
  font-size: 15px;
}

.margin-top {
  margin-top: 20px;
}

.margin-top-15 {
  margin-top: 15px;
}

.trix-content {
  margin-left: 15px;
  margin-right: 15px;
  text-align: justify;
}

.terms-and-policy  p {
  text-align: justify;
}

.terms-and-policy li {
  text-align: justify;
}

.brows-job-sallery {
  margin-left: 0px !important;
}

img.logo {
  padding-top: 25px;
  width: 210px !important;
}

@media (max-width: 1000px) {
  .nav-tabs.modern-tabs >li >a {
    padding: 1.7rem !important;
  }

  img.logo {
    padding-left: 40px !important;
    display: block;
    margin-left: auto;
    margin-right: auto;

    padding-bottom: 10px;
  }
}

.ur-detail-btn {
  max-width: 330px;
}

input:focus, input:hover, textarea:focus, textarea:hover, select:hover, select:focus, .select2-container--focus, trix-editor:hover, trix-editor:focus, .select2:hover {
  border: 1px solid #11b719 !important;
}

.img-logo {
  min-height: 80px !important;
  max-height: 80px !important;
  max-width: 200px !important;
  object-fit: contain !important;
}

.flash {
  position: fixed;
  bottom:0%;
  width:100%;
  z-index: 555;
}

.main-heading h1 >span {
  color:#11b719;
}

.main-heading h1 {
  color:#252d40;
  position:relative;
  font-weight:600;
  margin-top:0px;
  margin-bottom:10px;

  font-size: 36px;
  line-height: 48px;
}

.inner-header-title h1 {
  font-size: 50px !important;
  margin:0 !important;
  line-height: 48px !important;
  font-weight: 500 !important;
}

@media (max-width: 1000px) {
  .inner-header-title h1 {
    font-size: 30px !important;
  }
}

.job-instructor-content h2 {
  font-size: 16px !important;
}

.job-instructor-content h3 {
  font-size: 14px !important;
}

@media (max-width: 1000px) {
  .job-instructor-content h2 {
    font-size: 15px !important;
  }
}

.brows-job-position h2 {
  font-size:17px;
  padding: 0;
  margin-bottom: 5px;
  line-height: 1.4;
  position: relative;
  width: auto;
  display: inline-block;
}

@media (max-width: 1000px) {
  .job-buttons {
    margin-right: 10px !important;
    margin-left: 5px !important;
  }
}

